In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import csv

In [7]:
#Read in datafile to generate dataframe
datafile = os.path.join("GenshinPlayerData.csv")
player_data = pd.read_csv(datafile, delimiter=",")

player_data.head()

,Answer ID,Gender,Age,Server,Why Play?,Average Spent,Favorite Region,Main Character
0,1,Male,25-34,America,Friend Recommended,$5 - $15,Liyue,Klee
1,2,Female,18-24,Europe,Friend Recommended,$0,Liyue,Bennett
2,3,Female,Under 18,America,Friend Recommended,$0,Liyue,Xinqiu
3,4,Female,25-34,Europe,Liked a Character Design,$5 - $15,Liyue,Razor
4,5,Female,18-24,Europe,Friend Recommended,$4.99,Liyue,Ganyu

In [11]:
#Check data for missing values
player_data.count()

#remove lines with missing data and do a count to verify they were dropped
player_data = player_data.dropna(how='any')
player_data.count()

Answer ID          42
Gender             42
Age                42
Server             42
Why Play?          42
Average Spent      42
Favorite Region    42
Main Character     42
dtype: int64

In [12]:
#remove answer id column
del player_data['Answer ID']
player_data.head()

,Gender,Age,Server,Why Play?,Average Spent,Favorite Region,Main Character
0,Male,25-34,America,Friend Recommended,$5 - $15,Liyue,Klee
1,Female,18-24,Europe,Friend Recommended,$0,Liyue,Bennett
2,Female,Under 18,America,Friend Recommended,$0,Liyue,Xinqiu
3,Female,25-34,Europe,Liked a Character Design,$5 - $15,Liyue,Razor
4,Female,18-24,Europe,Friend Recommended,$4.99,Liyue,Ganyu